<br /> <br />
<%= @movie.name %> <br />
<%= @movie.description %> <br />
<img src = <%= @movie.movie_poster%> style="width:350px;height:500px"> <br>
<iframe type="text/html"
<iframe width="560" height="315" src=<%= @movie.trailer%> frameborder="0" allowfullscreen></iframe>
<h3> Want to see the movie? Select one of the meetups below or create your own hang out! </h3>
<%= link_to("Create a New Hangout!", new_viewing_party_path) %> 