<br />
<br />
<div class="col-lg-4">
  <img src = <%= @movie.movie_poster%> style="width:350px;height:500px"> 
</div>
<div class="col-lg-8">
  <h1> <%= @movie.name %> </h1> <br />
  <%= @rotten_tomato.synopsis %> <br />
  <div class = "trailer">
    <iframe type="text/html" width="560" height="315" src=<%= @movie.trailer%> frameborder="0" allowfullscreen> </iframe>
  </div>
  <br />
</div>
<div class="col-lg-12">
  <h3> Want to see the movie? Select one of the meetups below or create your own hang out! </h3>

  <% @movie.viewing_parties.each do |viewing_party| %>

      <img src = <%= viewing_party.movie.movie_poster%> style="width:70px;height:100px"> 
      <%= link_to viewing_party.movie.name, viewing_party_path(viewing_party) %> - 
      <%= viewing_party.theater %> - <%= viewing_party.viewing_time%> <br />
      <br />
    <% end %>
  <%= link_to("Create a New Hangout!", new_viewing_party_path) %> 
</div>