<br />
<br />
<div class="col-lg-4">
  <img src = <%= @movie.movie_poster%> style="width:350px;height:500px">  <br />
  Rotten Tomatoes Ratings: <br />
  Critics Rating: <%= @rotten_tomato.ratings.critics_score %>% - <%= @rotten_tomato.ratings.critics_rating%>    
  <% if @rotten_tomato.ratings.critics_score.to_i < 60 %>
    <img src = <%= asset_path('rotten_critic.jpg') %> style="width:40px">
     <% else %>
    <img src = <%= asset_path('fresh_critic.jpg') %> style="width:40px">
   <% end %>
      <br />
  Audience Rating: <%= @rotten_tomato.ratings.audience_score %>% - <%= @rotten_tomato.ratings.audience_rating%>
    <% if @rotten_tomato.ratings.audience_score.to_i < 60 %>
    <img src = <%= asset_path('rotten_user.jpg') %> style="width:40px">
     <% else %>
    <img src = <%= asset_path('fresh_user.jpg') %> style="width:40px">
   <% end %>
      <br />
</div>
<div class="col-lg-8">
    <h1> <%= @movie.name %> </h1> <br />
    <%= @rotten_tomato.synopsis %> <br />
    Rating : <%= @rotten_tomato.mpaa_rating %> <br />
    Runtime : <%= @rotten_tomato.runtime %> minutes <br />
    <br />

    <div class = "trailer">
      <iframe type="text/html" width="560" height="315" src=<%= @movie.trailer%> frameborder="0" allowfullscreen> </iframe>
    </div>
  <br />
</div>

This party will take place in <%= @viewing_party.theater %>, at <%= @viewing_party.viewing_time%>
<% if @viewing_party.users.include? @user %>
  <%= link_to 'leave', viewing_party_leave_path(@viewing_party), :method=> :post %>
<% else %>
  <%= link_to 'join', viewing_party_join_path(@viewing_party), :method=> :post %>
<% end %>
<br />
<br />
<br />
Current people going: <br/>
<% @viewing_party.users.each do |user| %>
  <%= user.username %> <br />
<% end %>

<h2> Comments </h2>
<div id = "comments">
  <%= render :partial => @viewing_party.comments %>
</div>

<%= form_for [@viewing_party, Comment.new] do |form| %>
  <p>
    <%= form.label :body, "New comment" %><br/>
    <%= form.text_area :body %>
  </p>
  <p><%= form.submit "Add comment" %></p>
<% end %>
<br />
<br />